
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

body{
	 background: linear-gradient(57deg, #00C6A7 , #1E4D92 ); 
}
.forms{
	background: linear-gradient(57deg, #D16BA5 , #86A8E7,#5FFBF1 ); 
}
.site-title{
	font-family: 'Merriweather', serif;
	font-weight:500;
	margin-left:20px;
}
.navbar{
	 background: linear-gradient(57deg, #00C6A7 , #1E4D92 ); 
}
.signupNow{
	font-size:14px;
	
}
.presignup-text{
	text-align:center;
}
a{
   text-decoration:none;
	color:red;
}
a:hover{
	color:white;
}
.gbtn{
	color:white;
}
.lgnbtn{
	background: linear-gradient(57deg, #00C6A7 , #1E4D92 ); 
	color:white;
	font-size:20px;
}
.lgnbtn:hover{
	background: linear-gradient(57deg, #1E4D92, #00C6A7 ); 
}